    /* import fonts from google fonts */
@import url("https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap");

:root {
  --light-gray: #2b3032a1;
  --primary-color: #45ccb8;
  --border: #2b303218;
  --text-color: #ff686b;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}

.text-color {
  color: var(--text-color);
}

.font-roboto {
  font-family: var(--roboto);
}

.lightblue {
  color: lightblue;
}
    


    a{
        color:grey;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    a:hover{
        color: var(--primary-color);
        text-decoration: none;
    }
    .pointer{
        cursor: pointer;
    }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
    .clear{
        clear: both;
    }
    .margin-20{
        margin: 20px;
    }
    .margin-top-20{
        margin-top: 20px;
    }
    .margin-bottom-20{
        margin-bottom: 20px;
    }
    .margin-left-20{
        margin-left: 20px;
    }
    .inner-collapse{
        margin-left: 4%;
        margin-bottom: 2%;
    }
    .margin-right-20{
        margin-right: 20px;
    }
    .icon{
        padding-right: 2px;
        padding-left: 2px;
    }

    .btn{
        border: 0px;
        border-radius: 0px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .btn-cart{
        color: #ffffff;
        padding:  10px;
        opacity: .8;
        border: 0px;
        text-align: center;
        background: #f94b40;
        border-radius: 0px;
        -webkit-transition: all 0.5s ease;
        transition: all .5s ease-in-out;
        width: 70%;
    }
    .btn-cart:hover{
        color: #ffffff;
        display: block;
        background: #e90808;
        width: 100%;        
        /* transform: scale(1.1); */
        opacity: 1;
    }
    .btn-red{
        color: #ffffff;
        background-color: #f94b40;
        border-color: #ccc;
        opacity: .9;
    }
    .btn-red:hover{
        color: #ffffff;
        background: #e90808;
    }
    .btn-yellow {
        color: #ffffff;
        background-color: #FF9800;
        border-color: #ccc;
        opacity: .8;
    }
    .btn-yellow:hover{
        color: #ffffff;
        opacity: 1;
    }
    .btn-blue{
        color: #ffffff;
        background-color: #0280e1;
        border-color: #ccc;
    }
    .btn-blue:hover{
        color: #ffffff;
        background: #1b70b1;
    }

    a[aria-expanded=true] .fa-plus {
        display: none;
    }
    a[aria-expanded=false] .fa-minus {
        display: none;
    }
    .icon {
        vertical-align: top;
        overflow: hidden;
        margin: 4px;
        width: 35px;
        height: 35px;
        position: relative;
    }
    .form-control {
        border-radius: 0px;
        min-height: 45px;
    }
    address {
        font-style: italic;
    }
    /** Classic style ***/


@media (min-width: 768px){
    .container {
        /* width: 930px; */
        width: 85%;
    }
    .header-cart{
        margin: 1.3em 0;
        margin-right: -3.8em;
        margin-top: 5em;
        float: right;
    }
}




/*** Account Page for the User ***/
.account-page{
    padding:  5%;
}
.account-page h3 {
    padding-bottom: 10px;
    border-bottom: 1px dotted gray;
}
.account-page .well {
    min-height: 190px;
    padding: 0px 5px 0px 20px;
    background-color: transparent;
}
.account-page h2{
    padding-bottom: 5px;
    border-bottom: 1px solid #808080;
}
.account-page ul{
    list-style: none;
}
.account-page ul li{
    padding: 5px;
    font-weight: bold;
}
.account-page ul li.active {
    display: block;
    background: var(--primary-color);
    border-radius: 0px 1px 40px 0px;
}
.account-page ul li.active a {
    color: 1px solid #808080;
}
/* .account-page ul li.active:after {
    content: "";
    position: absolute;
    top: 0;
    border-top: 14px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 39px solid #ffd451;
    margin-top: -2px;
} */


/*** Account Page for the User ***/


/***Styles for chekout page ***/
#check1, #check2, #check3 {
    background: #fff8dc;
    /* padding: 3% 2% 1% 2%; */
    padding: 1%;
    border: 1px solid rgba(88, 195, 232, 0.4);
    margin: 1%;
}
#check1 h3, #check2 h3, #check3 h3 {
    padding: 0% 2% 1% 2%;
    margin: 2%;
    color: #455A64;
}
.checkout-top-ok{
    margin: 3%;
}
.check-dots {
    color: #58c3e8;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 10px;
}
#check-one-top, #check-two-top, #check-three-top {
    background: #58C3E8;
    padding: 20px;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
#check-one-top{
    background: #004C48
}
#check-two-top{
    background: #00BBB5
}
#check-three-top{
    background: #58C3E8;
}
.payment-div{
    border:  1px solid rgba(88, 195, 232, 0.4);
    padding: 20px;
    margin-top: 5px;
}
.payment-div i {
    color: #01579B;
    font-size: 4em;
    padding: 5px;
}
.error-input {
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.09);
    color: #546E7A;
}
.success-input {
    border: 1px solid green;
    background: rgba(0, 255, 0, 0.09);
    color: #546E7A;
}
.input-hint{
    font-style: italic;
    font-size: 12px;
    color: gray;
}
/***Styles for chekout page ***/